@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$primary-color: #54AFBE; 
$text-color: #FFFFFF; // White color for text
$transition-effect: background-color 0.3s, color 0.3s;

@mixin button-style {
    padding: 15px 40px;
    font-size: 16px;
    height:50px;
    font-weight: 300;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: $transition-effect;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 48px;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    text-align: center;
    color: white; /* Adjust color if necessary */
    margin-top: 20px;
    margin-bottom: 50px; /* Space between the heading and the team profiles */
}

body {
    font-family:'Roboto', sans-serif;
    font-weight:300;
    background-color:black;
    margin:0px;
}

#home {
    // background-color:black;
    // display:flex;
    // align-items:center;
    // flex-direction:column;
}

.navbar {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        .logo {
          font-family: 'Roboto';
          font-size: 1.5rem;
          text-decoration:none;
          color:white;
        }
        .menu {
            a {
                text-decoration: none;
                color: white;
                margin-left: 2rem;
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);  // Start from 20px below the final position
    }
    to {
        opacity: 1;
        transform: translateY(0);  // End at the final position
    }
}

.hero {
    .icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        fill: white;
    }
    position: relative;
    text-align:center;
    width:100%;
    height:100%;
    padding: 0;
    animation: fadeIn 0.8s ease-out forwards;
    .content {
        display:flex;
        flex-direction:column;
        color:white;
        position:absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:100%;
        h1 {
            font-size: 94px;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        
        p {
            color: darken(white, 40%);
            font-size: 1.5rem;
            margin-bottom: 2.5rem;
        }
        .buttons {
            display:flex;
            justify-content:center;
            align-items:center;
            .button {
                @include button-style;
                &.primary {
                    display: flex;
                    align-items: center; /* Vertically center the items in the button */
                    justify-content: center; /* Horizontally center the items */
                    background-color: $primary-color;
                    color: black;
                    border: 2px solid $primary-color;
                
                    &:hover, &:focus {
                      background-color: darken($primary-color, 40%);
                      color: $primary-color;
                    }
                  }
                
                  &.secondary {
                    display: flex;
                    align-items: center; /* Vertically center the items in the button */
                    justify-content: center; /* Horizontally center the items */
                    background-color: transparent;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                
                    &:hover, &:focus {
                      background-color: $primary-color;
                      color: $text-color;
                    }
                }
            }
        }
    }
}

#team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    padding-left:50px;
    padding-right:50px;
    
    .team-member{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%; 
        color: white;
    }
    .profile-circle {
        position: relative;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    
    .icon {
        color: white; /* Icon color */
        width: 30px; /* Icon size */
        height: 30px; /* Icon size */
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    .icon:hover {
        transform: scale(1.1); /* Slightly enlarge icons on hover */
    }
    
    .role-title {
        text-align: center;
        font-size: 20px;
        margin: 10px;
        color: darken(white, 40%);
    }

    .name {
        text-align:center;
        font-size:24px;
        margin-top: 10px;
    }
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; /* Adjust padding as needed */
    background-color: black; /* Dark background for the footer */
    border-top: 1px solid lighten(black, 20%);
    margin-top:50px;
    color: white; /* White text color */
    left: 0;
    bottom: 0;
    .social-links {
        display: flex;
        align-items: center;
        gap: 10px; /* Space between icons */
    }
    
    .icon {
        color: white; /* Icon color */
        width: 30px; /* Icon size */
        height: 30px; /* Icon size */
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.1); /* Slightly enlarge icons on hover */
    }
}

.feature-container {
    display: flex;
    align-items: center; /* Vertically aligns the content in the center */
    justify-content: space-between; /* Separates the text and the SVG image */
    padding: 20px;
    margin-bottom: 20px; /* Space between each feature block, if multiple */
    .feature-text {
        width: 60%; /* Adjust the width as needed */
        padding-right: 20px; /* Provides some space between the text and the image */
        padding-left:100px;
    }
    
    .feature-svg {
        width: 40%; /* Adjust the width as needed */
        height: auto; /* Maintains aspect ratio */
        max-width: 100%; /* Ensures SVG does not exceed the width of the container */
        display: flex; /* Centers SVG in the div if smaller than the container */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        img {
            width: 100%; /* Scale the SVG to fit the container's width */
            height: auto; /* Maintain the aspect ratio */
            object-fit: contain;
        }
    }
    
    /* Additional styling for the text or the container */
    .feature-title {
        font-size: 48px;
        margin-bottom: 10px;
    }
    
    .feature-description {
        font-size: 16px;
        line-height: 1.5;
        color:white;
    }
}


